@font-face {
    font-family: "Medium";
    src: url(./fonts/TTLakes-Medium.woff) format("woff");
}

@font-face {
    font-family: "Regular";
    src: url(./fonts/TTLakes-Regular.woff) format("woff");
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Regular";
    font-size: 16px;
    font-weight: 600;
}

.nobullet {
    list-style-type: none;
    display: flex;
}

.container {
    width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}

.burger {
    padding-top: 23px;
    padding-left: 24px;
}

.header-right {
    padding-top: 23px;
    padding-right: 24px;
}

.group {
    padding-top: 19px;
    padding-left: 17px;
}

.menu-list {
    display: inline;
}

.menu-list_item {
    padding-left: 24px;
    padding-bottom: 32px;
}

.menu-list_item a {
    text-decoration: none;
    color: #1B1C21;
}

.highlight {
    position: absolute;
    top: 123px;
}

.menu-list_item a:focus {
    color:#7E7E82;
}

.call {
    padding-right: 16px;    
}

.chat {
    padding-right: 16px;
}

.contact {
    padding-top: 268px;
    padding-left: 24px;
}

.mail {
    padding-top: 16px;
    padding-bottom: 24px;
}

.number {
    font-family: "Medium";
    font-size: 24px;
    font-weight: 700;
}

.lang {
    padding-top: 40px;
    padding-left: 24px;
    padding-bottom: 32px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

button:focus {
    background-color: transparent;
    color:#7E7E82;
}

.container {
    box-shadow: 15px 10px 50px 2px rgba(0, 0, 0, 0.2);
}
